/* Fondo barra de navegación */
.navbar {
    background-color: #162d59 !important;
}

/* Color de texto y fondo cuando cursor está sobre link */
.navbar :hover {
    color: #959fd8 !important;
}

/* Color de texto de tabs de navbar, tamaño de letra y espacio entre ellos */
.navbar-item {
    color: white !important;
    font-size: 18px;
}


/*   background-color:#2B2D42 !important; Fondo barra de navegación de denuncias*/
.navbar2 {
    background-color:    #8D99AE !important;
}


/* Color de texto y fondo cuando cursor está sobre link en denuncias */
.navbar2 :hover {
    color:#515966 !important;
}


/* Color de texto de tabs de navbar, tamaño de letra y espacio entre ellos */
.navbar2-item {
    color: white !important;
    font-size: 18px;
}


/* Color de iconos de redes sociales */
.icon {
    color: white;
}

/* Estilo italica a descripcion de grupo [index.php] */
.content {
    font-style: italic;
}


/* Agregar espacio entre boxes de mision, vision background-color: #959fd8; */
.columns .about {
    margin-left: 60px;
}


/* Agregar espaciado entre renglones de un parrafo en vision y mision */
.subtitle {
    line-height: 2;
}


/* Modificar ancho de carrusel */
.hero-carousel {
  width: 1265px;
  overflow: hidden;
}


/* Agregar color de fondo a las lecturas */
.lecturas {
    background-color: #162d59 !important;
}

/* Alinear texto centrado a tooltips [formularioPreg5.php] */
.has-tooltip-multiline {
  text-align: center !important;
}

/* Cambiar color de texto y botones [denuncias.php, busqueda.php, formularioPreg1.php,
formularioPreg2.php, formularioPreg3.php, formularioPreg4.php, formularioPreg5.php] */
.buttonB {
    background-color: #2B2D42 !important;
        color: white !important;
}

.textarea {
    border-color: gray !important;
}

.is-horizontal-center {
  justify-content: center;
}
.has-image-centered {
  margin-left: auto;
  margin-right: auto;

  
}
